/* Navbar pienillä ja keskikokoisilla näytöillä */
@media (max-width: 1050px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #582f0e;
        width: 200px;
        padding: 0.5rem 1rem;
        border-radius: 0 0 5px 5px;
        z-index: 1040;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

/* Navbar leveillä näytöillä */
@media (min-width: 1051) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
        padding: 0;
        border-radius: 0;
    }
    
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }
}

/* Navbar brand keskelle isoilla näytöillä */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse{
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
        padding: 0;
        border-radius: 0;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        display: column !important;
    }

    .navbar-expand-lg .navbar-collapse.show {
        display: flex !important;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #582f0e;
        width: 200px;
        z-index: 1040;
        padding: 0.5rem 1rem;
        border-radius: 0 0 5px 5px;
    }

    .navbar-nav {
        flex-direction: column !important;
        margin: 0;
        padding: 0;
    }
}

/* Body ja perusasetukset */
body {
    margin: 0;
    padding-top: 60px;
    overflow-x: hidden;
}

/* Navbar */
.custom-navbar {
    background-color: #582f0e;
    height: 60px;
    display: flex;
    color: #ffe6a7;
    align-items: center;
    z-index: 1030;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.custom-navbar .navbar-brand {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    color: #ffe6a7;
    font-size: 1.8rem;
    transition: all 0.3s ease;
}

.custom-navbar .navbar-brand:hover {
    color: #ffba08;
}

.custom-navbar .nav-link {
    color: #ffe6a7;
}

.custom-navbar .nav-link:hover {
    color: #ffba08;
}

/* Hamburger-nappi */
.navbar-toggler {
    border: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
}

/* Hero-osio */
.hero, .hero-index {
    background-image: url(kuvat/bird.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-index {
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 80px; 
}

/* Korttien kontaineri */
.container {
    padding-top: 0;
}

.hero-cards {
    margin-left: 10%;
}

/* Korttien tyyli */
.card {
    background-color: #ffe6a7;
    color: #582f0e;
    border: 2px solid #582f0e;
    cursor: pointer;
    transition: transform 0.2s;
}

.card a, .card h5, .card p {
    color: #582f0e;
}

.card:hover {
    transform: scale(1.05);
}

/* Kortti isolla näytöllä hieman vasemmalla*/
@media (min-width: 992px) {
    #havainto-card {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        margin-left: -30% !important;
    }
}

/* Kortti keskitetään pienillä näytöillä*/
@media (max-width: 991.98px) {
    #havainto-card {
        margin: 0 auto;
        width: 90%;
        max-width: 300px;
        min-width: auto;
    }

    .hero-cards {
        margin-left: 0;
    }
}

h2 {
    color: #582f0e;
}

/* Kartta-card */
.kartta-card {
    width: 300px;
    max-width: 300px;     
}

@media (max-width: 768px) {
  .kartta-card {
    width: 100%;
    max-width: 100%;
  }
}

/* Lisäelementit */
#vuosiInfo {
    font-size: 0.9rem;
    min-height: 1.2em;
}